{% extends "templates/outside.twig" %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>www.CordisQuinta.com 4.0</h1>
            <p>Cordisquinta har uppdaterat sin hemsida till version 4. Nya funktioner, lättare administration och möjlighet att bygga ut ytterliggare.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block mainContent %}
    <div class="row">
        <div class="col-md-6">
            <h2>En tillbakablick</h2>
            <p>Orden Cordis Quinta har levt och verkat sedan 1933. Rötterna finns i det kamratskap och den gemenskap som de fem stiftarna ursprungligen fann i scoutlivet men som under åren blev en vidareförädlad ideologi. Brödraskapet inom vår Orden bygger på gemensamma värderingar med grundstenarna kamratskap, samhörighet och hjälpsamhet.</p>

            <h2>Ordens ändamål</h2>
            <p>Orden är av opolitisk natur och har till ändamål att inom en gemensam organisation sammanföras till en sällskaplig samvaro, tillvarataga och utveckla deras sociala och kulturella intressen samt främja ett vårdat och ridderligt uppträdande.</p>
                <p>I dagens samhälle behövs alternativ till idrotts- eller intresseföreningarna som i sin grund bygger på ett gemensamt intresse kring en specifik sport eller aktivitet. Orden står för en positiv ideologi och för en tro på det goda hos människan. I stiftarnas val av värderingar, kamratskap, samhörighet och hjälpsamhet finner vi uttryck för det som är kännetecknande för en västlig och kristen kultur. Vi låter oss dock inte begränsas utan är öppna för det positiva och goda vi finner i andra kulturer.</p>
                <p>Det finns för många ett stort behov av att finna gemenskap och alternativ som ger frihet från vardagens förpliktelser och påfrestningar. Orden erbjuder ett stimulerande komplement till en ytlig och lättillgänglig nöjesvärld.</p>
        </div>
        <div class="col-md-6">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
{% endblock %}