{% extends "templates/admin.twig" %}



{% block mainContent %}
    <h1 class="page-header">
        {{ pageHeader }}
    </h1>

    <div class="row placeholders">
        <h2>Här kommer sammanfattande information för administrationen.</h2>
    </div>
{% endblock mainContent %}