{% block adminMenu %}
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
            <li class="disabled"><a href="#">Medlemmar</a></li>
            <li class="disabled"><a href="#">Nya medlemar</a></li>
            <li class="disabled"><a href="#">Skapa medlem</a></li>
            <li><a href="{{ siteUrl }}admin/groups">Grupper</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="disabled"><a href="">Skapa nyhet</a></li>
            <li class="disabled"><a href="">Redigera nyhet</a></li>
            <li class="disabled"><a href="">Kalendarium</a></li>
            <li class="disabled"><a href="">Månadsbrev</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="disabled"><a href="">Lokalbokning Loge 1</a></li>
            <li class="disabled"><a href="">Lokalbokning Loge 2</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ siteUrl }}superadmin/resources">Resources</a></li>
        </ul>


    </div><!--/span-->
{% endblock adminMenu %}