{% block adminMenu %}
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
            {% if adminMenuUsers == true %}<li><a href="{{ adminUrl }}users">Användare</a></li>{% endif %}
            <li class="disabled"><a href="#">Nya medlemar</a></li>
            <li class="disabled"><a href="#">Skapa medlem</a></li>
            {% if adminMenuGroups == true %}<li><a href="{{ siteUrl }}admin/groups">Grupper</a></li>{% endif %}
        </ul>
        <ul class="nav nav-sidebar">
            <li class="disabled"><a href="">Skapa nyhet</a></li>
            <li class="disabled"><a href="">Redigera nyhet</a></li>
            <li class="disabled"><a href="">Kalendarium</a></li>
            <li class="disabled"><a href="">Månadsbrev</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li class="disabled"><a href="">Lokalbokning Loge 1</a></li>
            <li class="disabled"><a href="">Lokalbokning Loge 2</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            {% if adminMenuResources == true %}<li><a href="{{ siteUrl }}superadmin/resources">Resources</a></li>{% endif %}
        </ul>


    </div><!--/span-->
{% endblock adminMenu %}