{% extends "templates/layout.twig" %}


{% block mainContent %}
    <div class="row">
        <div class="col-md-12">
            <h2>401</h2>
            <p>Du har försökt besöka en sida du inte har tillgång till!</p>
        </div>
    </div>
{% endblock %}